<h1>Edit Landmark</h1>
<h3><%=@landmark.name%></h3>
<%= @landmark.year_completed.to_s %>
<form action="/landmarks/<%=@landmark.id%>" method='post'>
  <!-- <input type="hidden" name="_method" value="patch"> -->
  <label for="landmark_name">Name of Landmark</label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  <label for="landmark_year_completed">Year Completed</label>
  <input type="integer" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">
  <input type="submit" value="Edit Landmark">

</form>